nav{
    border:solid;
   background-color: black;
   color: white;

}
ul{
    list-style: none;
    display:flex;
    margin-left: 1300px;
    margin-top: -45px;
    
    

}
#two,#three{
    margin-left: 20px;
}
h3{
    display: flex;
   
    margin-top: 5px;
}
.one{
    border:solid white;
    width:200px;
    height:300px;
    background-color: rgb(164, 163, 161);
    margin-left: 350px;
    margin-top: 40px;
}
.two{
    border:solid white;
    width:200px;
    height:300px;
    background-color: rgb(164, 163, 161);
    margin-left: 100px;
    margin-top: 40px;

}
.three{
    border:solid white;
    width:200px;
    height:300px;
    background-color: rgb(164, 163, 161);
    margin-left: 100px;
    margin-top: 40px;


}
#four{

    animation:slideup 5s ease forwards;
}
@keyframes slideup{
    from{
       transform:translateY(500px);
       opacity: 0;

    }
   to{
    transform:translateY(0px);
    opacity: 1;
   }
}
button:hover{
    animation:flicker 0.8s ease;
}
@keyframes flicker{
    30%{
        opacity:0;
    }
    
}